<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.102:3306/user_4?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">user_4</property>
        <property name="hibernate.connection.password">Sapteh_user_4</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <mapping class="ru.sapteh.model.Doctor"/>
        <mapping class="ru.sapteh.model.Patient"/>
        <mapping class="ru.sapteh.model.Reference"/>

    </session-factory>
</hibernate-configuration>